{% paginate search.results by 2 %}
  {{ paginate | default_pagination }}

  {% if search.performed %}
    <h1>Here's your results</h1>

    <ul>
      {% for result in search.results %}

        <li>
          {% if result.object_type == "page" %}
            <a href="{{ result.url }}">{{ result.title }}</a>
          {% elsif result.object_type == "article" %}
            <a href="{{ result.url }}">{{ result.title }}</a>
          {% else %}
            <a href="{{ result.url }}">{{ result.title }}</a>
          {% endif %}
        </li>

      {% endfor %}
    </ul>

  {% else %}
    <h1>Try searching for something</h1>
  {% endif %}

{% endpaginate %}